# 복습문제

-------------

> 빈칸에 알맞은 말은?  
  
Light GBM의 한 가지 단점으로 알려진 것은 적은 데이터 세트에 적용할 경우 ______이 발생하기 쉽다.

A. 과적합

--------------------------

> XGBoost는 Light GBM에 비해서 과적화 될 확률이 높다. O/X

A. O

------------

> training set를 training / validation split을 한 이유는 무엇인가?

A. 과적합을 피하기 위해서, 조기 중단을 하기 위해서

------------------

> HyperOpt를 사용할 때 다음을 순서대로 나열해 주세요.<br>
  
a. 함수 설정<br>
b. 범위 설정  
c. fmin()으로 x,y 값 찾기

A. b - a - c

-------------

> 다음 중 랜덤 포레스트의 설명으로 옳지 않은 것은?  
  
    1. 가지를 나눌 때마다 p개의 변수 중 랜덤하게 m개의 변수만 고려한다.
    2. 소수의 변수들에 대한 상관성이나 원소가 가진 영향력을 제거할 수 있다.
    3. 원본 데이터의 건수가 200개일 때 10개의 결정 트리 기반으로 학습하려고 하면 20개씩 10개의 데이터 건수로 나눈다.
    4. 여러 개의 데이터 세트를 분할할 때, 부트스트래핑 분할 방식을 이용하며, 이는 중첩(복원)을 허용한다.

A. 3

-------------------

> hyperopt의 hp모듈을 사용하여 -20 ~ 20까지 2간격을 가지는 입력 변수 x와 -15 ~ 15까지 1간격으로 입력변수 y를 설정해 주세요.  

from hyperopt import hp  
search_space = {'x' : hp.quniform(___________),  
             'y' : hp.quniform(___________) }

A. from hyperopt import hp  
search_space = {'x' : hp.quniform(-20, 20, 2),  
             'y' : hp.quniform(-15, 15,1) }

--------------

> LightGBM이 XGBoost대비 더 나은 점 두 가지는?

A. 학습 수행 시간이 더 빠르다, 더 적은 메모리를 사용한다.

--------------

> hyperopt를 사용할 때 목적함수의 반환값들을 어떠한 클래스 객체로 저장한다. 이때 사용하는 클래스는?

A. Trials

----------------

> LightGBM은 최대한 균형 잡힌 트리를 유지하면서 분할하기 때문에 트리의 깊이가 최소화 될 수 있다?

A. X

----------------

> hyperopt적용하여 최적의 파라미터 값을 찾을 때, 교차 검증 정확도의 평균에 -1을 곱하여 목적함수의 입력값 fmin()의 인수로 넣는 이유는 무엇인가?

A. 정확도는 높은 값일수록 좋은 성능을 지닌 지표라고 판단하는 반면, fmin() 함수는 작은 값(최소값)을 더 좋은 최적화로 판단하기 때문에

--------------

> hyperopt는 목적함수 반환 값의 최대값을 가지는 최적 입력값을 유추한다? o/x

A. x

------------

> 틀린 것은?  
  
  1. lightgbm은 xgboost보다 학습에 걸리는 시간이 훨씬 적다.
  2. lightgbm은 xgboost와 예측 성능에 별다른 차이가 없다.
  3. lightgbm은 적은 데이터 세트에 적용할 경우 과적합 위험이 크다.
  4. lightgbm은 균형 트리 분할 방식을 사용한다.
  5. lightgbm은 다른 모델에 비해 단순하다는 장점이 있다.

A. 4,5

-----------

> lightgbm의 파라미터 max_depth의 default 값은?  
max_depth 값을 따로 지정하지 않을 경우 어떤 의미를 가지는가?

A. default = -1 / 트리의 깊이에 제한이 없다.

-------------

> 싸이킷런 분류 알고리즘에서 각 label 데이터의 확률을 보여주는 메서드는?

A. predict_proba()

-----------

> ROC 곡선이 가운데 직선에 가까울수록 성능이 떨어지며, 멀어질수록 성능이 뛰어나다? o/x

A. o

------------

> 분류 결정 임곗값이 높아질수록 positive로 예측할 확률이 높아진다? o/x

A. x

------------

> 보기 중 틀린 것은?  
  
  1. 이진 분류 모델에서는 예측 확률이 큰 레이블 값을 예측한다.
  2. 재현율이 중요한 경우 양성지표를 negative로 잘못 판단 시 큰 영향을 가지는 경우이다.
  3. f1 스코어는 정밀도와 재현율을 결합한 지표이다.
  4. f1 스코어는 정밀도와 재현율이 큰 차이를 가질수록 높은 값을 가진다.
  5. FPR을 0으로 만들려면 임계값을 1로 지정한다.

A. 4

------------

> 보기 중 틀린 것은?  
  
  1. 정밀도가 중요한 경우는 음성 데이터를 양성으로 잘못 판단하면 큰 영향이 발생하는 경우이다.
  2. TP /(TP+FP)은 정밀도의 공식이다.
  3. True Positive Rate은 재현율이다.
  4. 전체 환자를 positive라 예측하고 실제 양성이 환자가 n명이라면 재현율은 0이 된다.
  5. 전체 환자 중 1명만 positive라 예측하고 나머지를 전부 negative라 예측하면 정밀도는 1이 된다.

A. 4

------------

> 오차 행렬의 원소값을 이용한 정밀도, 재현율(민감도), 특이도에 대한 수식은?

A. 정밀도(Precision) = TP / (TP + FP)  
   재현율(Recall) = TP / (TP + FN)  
   특이도(TNR) = TN / (TN + FP)

------------

> mpg 데이터 세트를 불러오세요.

In [3]:
import pydataset
mpg = pydataset.data('mpg')
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

> 아래 명령문을 시행하세요.

In [4]:
from collections import Counter
Counter(mpg.fl)

Counter({'p': 52, 'r': 168, 'e': 8, 'd': 5, 'c': 1})

> 연료 종류(fl)중 'e', 'd', 'c'의 개수가 너무 적어 삭제하고 'p', 'r' 종류만 레이블 값으로 두려고 한다.  
연료 종류가 'e', 'd', 'c'인 행은 삭제해주자.

In [5]:
mpg.loc[(mpg.fl == 'p') | (mpg.fl == 'r')]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [6]:
# 다른 답변
con1 = mpg.fl == 'p'
con2 = mpg.fl == 'r'
con1 | con2

1      True
2      True
3      True
4      True
5      True
       ...
230    True
231    True
232    True
233    True
234    True
Name: fl, Length: 234, dtype: bool

In [7]:
# 다른 답변
mpg.query("fl == 'p' or fl == 'r'")

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [8]:
# 다른 답변
import numpy as np
mpg['fl'].replace(['e', 'd', 'c'], np.nan, inplace = True)
mpg['fl'].dropna()

1      p
2      p
3      p
4      p
5      p
      ..
230    p
231    p
232    p
233    p
234    p
Name: fl, Length: 220, dtype: object

In [9]:
# 다른 답변
import pandas as pd
a = mpg[mpg.fl == 'p']
b = mpg[mpg.fl == 'r']
pd.concat([a,b])

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
221,volkswagen,jetta,2.8,1999,6,manual(m5),f,17,24,r,compact
224,volkswagen,new beetle,2.0,1999,4,manual(m5),f,21,29,r,subcompact
225,volkswagen,new beetle,2.0,1999,4,auto(l4),f,19,26,r,subcompact
226,volkswagen,new beetle,2.5,2008,5,manual(m5),f,20,28,r,subcompact
227,volkswagen,new beetle,2.5,2008,5,auto(s6),f,20,29,r,subcompact

In [10]:
features = X = mpg.drop('fl', axis = 1)
label = y = mpg[['fl']]

In [11]:
features

    manufacturer   model  displ  year  cyl       trans drv  cty  hwy    class
1           audi      a4    1.8  1999    4    auto(l5)   f   18   29  compact
2           audi      a4    1.8  1999    4  manual(m5)   f   21   29  compact
3           audi      a4    2.0  2008    4  manual(m6)   f   20   31  compact
4           audi      a4    2.0  2008    4    auto(av)   f   21   30  compact
5           audi      a4    2.8  1999    6    auto(l5)   f   16   26  compact
..           ...     ...    ...   ...  ...         ...  ..  ...  ...      ...
230   volkswagen  passat    2.0  2008    4    auto(s6)   f   19   28  midsize
231   volkswagen  passat    2.0  2008    4  manual(m6)   f   21   29  midsize
232   volkswagen  passat    2.8  1999    6    auto(l5)   f   16   26  midsize
233   volkswagen  passat    2.8  1999    6  manual(m5)   f   18   26  midsize
234   volkswagen  passat    3.6  2008    6    auto(s6)   f   17   26  midsize

[234 rows x 10 columns]

> 현재 피처값에 문자열이 존재한다. 이를 레이블 인코딩 해 주세요.

In [12]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
labels = encoder.fit_transform(features.columns)

print(labels)

[6 7 3 9 2 8 4 1 5 0]

In [13]:
# 다른 답변

from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
columns = X.columns

for column in ['manufacturer', 'model', 'trans', 'drv', 'class']:
    encoder.fit(X[column])
    encoded = encoder.transform(X[column])
    features[column] = encoded
    
features

     manufacturer  model  displ  year  cyl  trans  drv  cty  hwy  class
1               0      1    1.8  1999    4      3    1   18   29      1
2               0      1    1.8  1999    4      8    1   21   29      1
3               0      1    2.0  2008    4      9    1   20   31      1
4               0      1    2.0  2008    4      0    1   21   30      1
5               0      1    2.8  1999    6      3    1   16   26      1
..            ...    ...    ...   ...  ...    ...  ...  ...  ...    ...
230            14     31    2.0  2008    4      7    1   19   28      2
231            14     31    2.0  2008    4      9    1   21   29      2
232            14     31    2.8  1999    6      3    1   16   26      2
233            14     31    2.8  1999    6      8    1   18   26      2
234            14     31    3.6  2008    6      7    1   17   26      2

[234 rows x 10 columns]

In [14]:
features.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 234 entries, 1 to 234
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    int32
 1   model         234 non-null    int32
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    int32
 6   drv           234 non-null    int32
 7   cty           234 non-null    int64
 8   hwy           234 non-null    int64
 9   class         234 non-null    int32
dtypes: float64(1), int32(5), int64(4)
memory usage: 15.5 KB

In [15]:
cols = ['manufacturer', 'model', 'trans', 'drv', 'fl', 'class']
for col in cols:
    encoder = LabelEncoder()
    encoder.fit(mpg[col])
    mpg[col] = encoder.transform(mpg[col])

In [17]:
features = X = mpg.drop('fl', axis=1)
labels = y = mpg['fl']

-----------

> cross_val_score()를 classifier는 DesicionTree를 사용하여 모델을 만든 다음, 정제한 데이터를 구간은 5로 나누고, 평가 지표는 '정확도'를 사용해서 '정확도'를 구해주세요.

In [18]:
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier

dt_clf = DecisionTreeClassifier()

score = cross_val_score(dt_clf, features, label, scoring = 'accuracy', cv = 5)
score.mean()

TypeError: '<' not supported between instances of 'str' and 'float'

------------