# 복습문제

In [ ]:
추천 시스템의 3가지 **필터링**은?

콘텐츠 기반 필터링, 최근접 이웃 협업 필터링, 잠재 요인 협업 필터링

In [ ]:
추천 시스켐의 3가지 **방식**은?

잠재, 사용자 기반, 아이템 기반

In [ ]:
크롤링을 하거나 데이터를 받아올 떄 겉보기엔 리스트나 딕셔너리 형태지만, 해당 타입이 문자열로 되어 있어 원하는 데이터에 접근하기 어려운 경우가 빈번하게 생긴다고 한다.
이를 해당하는 파이썬 객체로 알맞게 변형시켜주는 함수는?

literal_eval()

In [ ]:
SVD는 추천 예측을 해주는 알고리즘으로 (     )을(를) 해서 사용자들과 아이템들에 대한 각각의 잠재 요인을 분석하여 사용자가 사용하지 않은 아이템에 대한 데이터를 예측한다.
(     )에 들어가는 말은

행렬 분해

---------------------------

In [2]:
import pandas as pd

df = pd.DataFrame({"UserID" : ['User1', 'User1', 'User2', 'User2', 'User3', 'User4'],
                   "ItemID" : ['Item1', 'Item3', 'Item1', 'Item2', 'Item4', 'Item2'], 
                   "Rating" : [3, 3, 4, 1, 2, 5]})
df

  UserID ItemID  Rating
0  User1  Item1       3
1  User1  Item3       3
2  User2  Item1       4
3  User2  Item2       1
4  User3  Item4       2
5  User4  Item2       5

In [10]:
df.pivot_table(index = 'UserID', columns = 'ItemID', values = 'Rating')

ItemID  Item1  Item2  Item3  Item4
UserID
User1     3.0    NaN    3.0    NaN
User2     4.0    1.0    NaN    NaN
User3     NaN    NaN    NaN    2.0
User4     NaN    5.0    NaN    NaN

------------

In [ ]:
추천 시스템은 (         ) 기반 방식과 (          ) 필터링 방식으로 나뉜다. 괄호 안에 들어갈 말은?

콘텐츠, 협업

In [ ]:
surprise에서 추천 예측을 위해 자주 사용되는 추천 알고리즘 클래스

p. 639 참고
SVD, SVD++, NMF, Slope One, k-NN, Centered k-NN, k-NN Baseline, Co-Clustering, Baseline

------------------

In [ ]:
str = '[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]' 에서
['Action', 'Adventure', 'Fantasy', 'Science Fiction']를 출력하려고 합니다. 아래 코드 빈칸을 채워 주세요.

from ast import ----------      
dict_series = ----------(str)    
[i['------'] for i in dict_series]  

literal_eva, literal_eva, name

In [11]:
str = '[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [12]:
from ast import literal_eval
dict_series = literal_eval(str)
[i['name'] for i in dict_series]

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

-----------------

In [ ]:
사람마다 평가를 주는 기준이 다릅니다.(어떤 사람은 짜게, 어떤 사람은 후하게)
이것을 반영하는 평점은 무엇인가?

베이스라인 평점

In [ ]:
평점 분석에서 왜곡된 평점 데이터를 회피하도록 평점에 평가횟수를 반영하는 평가 방식은?

가중 평점

------------

감성 점수를 구해주세요.

In [15]:
!pip install nltk

Collecting nltk
  Downloading nltk-3.7-py3-none-any.whl (1.5 MB)
     ---------------------------------------- 1.5/1.5 MB 15.8 MB/s eta 0:00:00
Requirement already satisfied: joblib in c:\users\min\anaconda3\lib\site-packages (from nltk) (1.1.1)
Requirement already satisfied: click in c:\users\min\anaconda3\lib\site-packages (from nltk) (8.0.4)
Collecting regex>=2021.8.3
  Downloading regex-2022.9.13-cp39-cp39-win_amd64.whl (267 kB)
     ------------------------------------- 267.7/267.7 kB 17.2 MB/s eta 0:00:00
Requirement already satisfied: tqdm in c:\users\min\anaconda3\lib\site-packages (from nltk) (4.64.1)
Requirement already satisfied: colorama in c:\users\min\anaconda3\lib\site-packages (from click->nltk) (0.4.5)
Installing collected packages: regex, nltk
Successfully installed nltk-3.7 regex-2022.9.13

In [16]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

text = 'I decided, very early on, just to accept life unconditionally.I never expected it to do anything special for me, yet I seemed to accomplish far more than I had ever hoped.\
Most of the time it just happened to me withoutmy ever seeking it.'

In [17]:
senti_analyzer = SentimentIntensityAnalyzer()
senti_scores = senti_analyzer.polarity_scores(text)
senti_scores

{'neg': 0.0, 'neu': 0.82, 'pos': 0.18, 'compound': 0.7964}

In [ ]:
각 출력 결과물이 의미하는 것은?

In [ ]:
neg : 부정 감성 지수
neu : 중립적인 감성 지수
pos : 긍정 감성 지수
compound : neg, neu, pos score를 적절히 조합한 -1 ~ 1 사이의 감성 지수

-----------

In [ ]:
Surprise에서, predict(  )와 test의(  ) 차이는?

predict( ) : 개별 유저의 평점을 예측할 때 사용
test( ) : 전체 데이터에 대해 예측할 때 사용

-----------

아래 코드를 활용하여 사용자 아이디 196번이 예측한 평점과 아이템 아이디 302번의 예측 평점을 구해 주세요.

In [18]:
import pandas as pd
from surprise import Reader, Dataset, SVD, accuracy
from surprise.model_selection import train_test_split

ratings = pd.read_csv('./data/ratings.csv')
reader = Reader(rating_scale = (0.5,5.0)) 
data = Dataset.load_from_df(ratings[['userId','movieId','rating']], reader)
trainset, testset = train_test_split(data, test_size=0.25)
model = SVD(n_epochs=50, n_factors=50)

In [20]:
model.fit(trainset=trainset)
predictions = model.test(testset=testset)
predictions[0:3]

[Prediction(uid=527, iid=3674, r_ui=4.0, est=3.9606263489403486, details={'was_impossible': False}),
 Prediction(uid=21, iid=1573, r_ui=2.5, est=3.2574296091226804, details={'was_impossible': False}),
 Prediction(uid=125, iid=97752, r_ui=4.0, est=4.243172294046393, details={'was_impossible': False})]

In [27]:
pred = model.predict(uid = 196, iid = 302)
pred

Prediction(uid=196, iid=302, r_ui=None, est=3.5365859407083162, details={'was_impossible': False})

In [28]:
pred[3]

3.5365859407083162

----------